{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {% block css %}
    {% endblock %}
</head>
<body class="container-fluid">
    <div class="row m-2">
        <div class="col-md-2">
            <h4><a href=" {% url 'warehouseapp:warehousehome' %} ">Home</a></h4>
            <h4><a href=" {% url 'warehouseapp:warehouseadminprofile' %} ">Profile</a></h4>
            <h4><a href=" {% url 'warehouseapp:warehousehome' %} ">Staffs</a></h4>
            <h4><a href=" {% url 'warehouseapp:warehousehome' %} ">Shipments</a></h4>
            <h4><a href=" {% url 'warehouseapp:warehousehome' %} ">Activities</a></h4>
            Logged in as: (<a href=" {% url 'warehouseapp:warehouseadminprofile' %} ">{{user.name}}</a>)
            <a href=" {% url 'warehouseapp:warehouseadminlogout' %} ">Logout</a>
        </div>
        <div class="col-md-10">
        {% block content %}
        {% endblock %}
        </div>
    </div>
    <footer style="margin-top: 350px; text-align: center; background-color: #ccc; padding: 4px 4px;">
        <span><strong>@</strong> copyright 2020, <strong>SarobarTech</strong></span>
    </footer>

    {% block js %}
    {% endblock %}
</body>
</html>