{% extends 'dashboardbase.html' %}


{% block css %}
<style>
#shipments {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #shipments td, #shipments th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #shipments tr:nth-child(even){background-color: #f2f2f2;}
  
  #shipments tr:hover {background-color: #ddd;}
  
  #shipments th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(33, 214, 142);
    color: white;
  }
    .dataTables_filter > label{
    color: white;
    }

.dataTables_length > label{
    color: white;
    }

    .dataTables_info{
    color: white;
        background: white;
    }

.dataTables_paginate{
    color: white;
    background: white;
}

.dataTables_filter{
    display: none;
}

</style>



{% endblock %}


{% block content %}

<div class="container">


<div class="row mt-4">
  <div class="col-md-12 ">
<div class="card bg-dark card-center">

    <div class="card-body ">

{% if shipments %}
<h3 class="mt-4 mb-4 text-center text-white" style="position: center;">"<strong>{{shipment_type}}" Shipments ({{shipment_count}})</strong></h3>





<table id="example" class="table display nowrap bg-white" style="">
  <thead>
      <tr style="background: #FE9745"  >
          <th>SN.</th>
          <th>Shipment Code</th>
        <th>Requested Date</th>
          <th>Sender Name</th>
        <th>Receiver Name</th>

      </tr>
  </thead>
  <tbody>
       {% for shipment in shipments %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'shipmentapp:shipmentdetail' shipment.id %}">{{ shipment.shipment_code }}</a></td>
            <td>{{shipment.created_at}}</td>
            <td>{{ shipment.sender_name }}</td>
            <td>{{shipment.receiver_name}}</td>

        </tr>
        {% endfor %}
  </tbody>
  <tfoot>
      <tr style="" class="bg-dark text-white" >
          <th>SN.</th>
          <th>Shipment Code</th>
        <th>Requested Date</th>
          <th>Sender Name</th>
        <th>Receiver Name</th>

      </tr>
  </tfoot>
</table>
    {% else %}
    <h3 class="text-center text-white"><strong>No Shipment Available</strong></h3>
{% endif %}
</div>
</div>
  </div>
</div>
</div>






{% block js %}
{#<script type="text/javascript">#}
{##}
{##}
{#$(document).ready(function() {#}
{#    var table = $('#example').DataTable( {#}
{#        rowReorder: {#}
{#            selector: 'td:nth-child(2)'#}
{#        },#}
{#        responsive: true#}
{#    } );#}
{#} );#}
{#</script>#}

   {% endblock %}


{% endblock %}