{% extends 'dashboardbase.html' %}

{% block content %}

<div class="container">
    <div>
        <h3 class="text-center pt-5" style="position: center;">Change your password!</h3>
        {% if error %}
            <li style="color: red;">{{ error }}</li>
        {% endif %}




<div class="shadow-lg p-3 mb-5 mt-5 bg-white rounded col-md-8 offset-md-2 ">
<form method="post" >
  {% csrf_token %}

  <div class="form-row col-xs-12 col-md-12">
    <div class="form-group col-md-12">
      <label><strong>Old password</strong><small>*</small></label>

        {{form.old_password}}

    </div>

  </div>
 <div class="form-row col-xs-12 col-md-12">
    <div class="form-group col-md-12">
      <label><strong>New password </strong><small>*</small></label>

        {{form.new_password}}
        {% for error in form.non_field_errors %}
         <li class="text-danger">{{error}}</li>
        {% endfor %}

    </div>

  </div>
   <div class="form-row col-xs-12 col-md-12">
    <div class="form-group col-md-12">
      <label > <strong>Confirm new password</strong><small>*</small></label>

        {{form.confirm_new_password}}
        <h6 class="text-danger">{{form.confirm_new_password.errors}}</h6>
    </div>

  </div>


  <div class="form-group">
      <button id="button" type="submit" class="btn btn-block btn-dark btn-theme-colored btn-sm mt-20 pt-10 pb-10" data-loading-text="Please wait...">Submit Data</button>
  </div>
</form>
</div>


</div>
</div>
{% endblock %}