{% extends 'dashboardbase.html' %}

{% block content %}

{#<div class="container">#}
{#    <div>#}
{#        <h3 class="text-center pt-5" style="position: center;">Change your password!</h3>#}
{##}
{#<div class="shadow-lg p-3 mb-5 mt-5 bg-white rounded col-md-8 offset-md-2 ">#}
{#<form method="post" >#}
{#  {% csrf_token %}#}
{##}
{#  <div class="form-row col-xs-12 col-md-12">#}
{#    <div class="form-group col-md-12">#}
{#      <label><strong>Old password</strong><small>*</small></label>#}
{##}
{#        {{form.old_password}}#}
{##}
{#        {% if error %}#}
{#            <li style="color: red;">{{ error }}</li>#}
{#        {% endif %}#}
{##}
{#    </div>#}
{##}
{#  </div>#}
{# <div class="form-row col-xs-12 col-md-12">#}
{#    <div class="form-group col-md-12">#}
{#      <label><strong>New password </strong><small>*</small></label>#}
{##}
{#        {{form.new_password}}#}
{#        {% for error in form.non_field_errors %}#}
{#         <li class="text-danger">{{error}}</li>#}
{#        {% endfor %}#}
{##}
{#    </div>#}
{##}
{#  </div>#}
{#   <div class="form-row col-xs-12 col-md-12">#}
{#    <div class="form-group col-md-12">#}
{#      <label > <strong>Confirm new password</strong><small>*</small></label>#}
{##}
{#        {{form.confirm_new_password}}#}
{#        <h6 class="text-danger">{{form.confirm_new_password.errors}}</h6>#}
{#    </div>#}
{##}
{#  </div>#}
{##}
{##}
{#  <div class="form-group text-center">#}
{#      <button id="button" type="submit" class="btn  btn-dark btn-group-lg mt-20 pt-10 pb-10" data-loading-text="Please wait...">Submit Data</button>#}
{#  </div>#}
{#</form>#}
{#</div>#}
{##}
{##}
{#</div>#}
{#</div>#}


{# <section class="gry-bg py-4">#}
{#    <div class="profile">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-xl-10 offset-xl-1">#}
{#                    <div class="card shadow-lg register-box bg-info" >#}
{#                        <div class="text-center px-35 pt-5" style="color: #dddddd">#}
{#                            <h3 class="heading heading-4 strong-500 text-white ">#}
{#                                Change Password#}
{#                            </h3>#}
{#                        </div>#}
{##}
{#                        <div class="px-1 py-1 py-lg-1">#}
{#                            <div class="row align-items-center">#}
{#                                <div class="shadow-lg p-3 mb-5 mt-5 bg-dark rounded col-md-8 offset-md-2 ">#}
{##}
{#                                    <form class="form-default" role="form" method="POST">#}
{#                                    	{% csrf_token %}#}
{#                                         <div class="form-row col-xs-12 col-md-12">#}
{#                                            <div class="form-group col-md-12">#}
{#                                              <label><strong>Old password</strong><small>*</small></label>#}
{##}
{#                                                {{form.old_password}}#}
{##}
{#                                                {% if error %}#}
{#                                                    <li style="color: red;">{{ error }}</li>#}
{#                                                {% endif %}#}
{##}
{#                                            </div>#}
{##}
{#                                          </div>#}
{#                                         <div class="form-row col-xs-12 col-md-12">#}
{#                                            <div class="form-group col-md-12">#}
{#                                              <label><strong>New password </strong><small>*</small></label>#}
{##}
{#                                                {{form.new_password}}#}
{##}
{#                                                {% for error in form.non_field_errors %}#}
{#                                                 <li style="color: red;">{{error}}</li>#}
{#                                                {% endfor %}#}
{#                                            </div>#}
{##}
{#                                          </div>#}
{#                                           <div class="form-row col-xs-12 col-md-12">#}
{#                                            <div class="form-group col-md-12">#}
{#                                              <label > <strong>Confirm new password</strong><small>*</small></label>#}
{##}
{#                                                {{form.confirm_new_password}}#}
{#                                                <h6 style="color: red;">{{form.confirm_new_password.errors}}</h6>#}
{#                                            </div>#}
{##}
{#                                          </div>#}
{##}
{##}
{#                                          <div class="form-group text-center">#}
{#                                              <button id="button" type="submit" class="btn btn-group-lg mt-20 pt-10 pb-10" data-loading-text="Please wait...">Update</button>#}
{#                                          </div>#}
{#                                    </form>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

{#    <style>#}
{#    .register-box {#}
{##}
{#    margin-top: 75px;#}
{#    height: auto;#}
{#    background: #1A2226;#}
{#    text-align: center;#}
{#    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);#}
{#}#}
{#    .form-group{#}
{#        color: #dddddd;#}
{#    }#}
{##}
{#         /* Chrome, Safari, Edge, Opera */#}
{#                input::-webkit-outer-spin-button,#}
{#                input::-webkit-inner-spin-button {#}
{#                  -webkit-appearance: none;#}
{#                  margin: 0;#}
{#                }#}
{#                /* Firefox */#}
{#                input[type=number] {#}
{#                  -moz-appearance: textfield;#}
{#                }#}
{#    </style>#}




    <style>


                /* Chrome, Safari, Edge, Opera */
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                /* Firefox */
                input[type=number] {
                  -moz-appearance: textfield;
                }
    </style>


    <div id="page-wrapper">
<div class="container">


<div class="shadow-lg p-3 mb-5 mt-5 bg-info rounded col-md-8 offset-md-2  ">
<div class="panel panel-default card-view">
<form method="post" >
  {% csrf_token %}
    <h3 class="heading heading-4 strong-500 text-center mb-5 ">
     Update Password
    </h3>

                             <div class="form-row col-xs-12 col-md-12">
                                            <div class="form-group col-md-12">
                                              <label><strong>Old password</strong><small>*</small></label>

                                                {{form.old_password}}

                                                {% if error %}
                                                    <li style="color: red;">{{ error }}</li>
                                                {% endif %}

                                            </div>

                                          </div>
                                         <div class="form-row col-xs-12 col-md-12">
                                            <div class="form-group col-md-12">
                                              <label><strong>New password </strong><small>*</small></label>

                                                {{form.new_password}}

                                                {% for error in form.non_field_errors %}
                                                 <li style="color: red;">{{error}}</li>
                                                {% endfor %}
                                            </div>

                                          </div>
                                           <div class="form-row col-xs-12 col-md-12">
                                            <div class="form-group col-md-12">
                                              <label > <strong>Confirm new password</strong><small>*</small></label>

                                                {{form.confirm_new_password}}
                                                <h6 style="color: red;">{{form.confirm_new_password.errors}}</h6>
                                            </div>

                                          </div>


                                          <div class="form-group text-center">
                                              <button id="button" type="submit" class="btn btn-group-lg mt-20 pt-10 pb-10" data-loading-text="Please wait...">Change</button>
                                          </div>

</form>


    </div>

</div>
</div>
    </div>





{% endblock %}