{% extends 'dashboardbase.html' %}
{% block title %} Password change {% endblock %}
{% block content %}

    <style>
                /* Chrome, Safari, Edge, Opera */
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                /* Firefox */
                input[type=number] {
                  -moz-appearance: textfield;
                }
    </style>


    <div id="page-wrapper">
<div class="container">


<div class="shadow-lg p-3 mb-5 mt-5 bg-dark text-white rounded col-md-8 offset-md-2  ">
<div class="panel panel-default card-view">
<form method="post" >
  {% csrf_token %}
    <h3 class="heading heading-4 strong-500 text-center mb-5 ">
    <strong> Change Password </strong>
     </h3>

                             <div class="form-row col-xs-12 col-md-12">
                                            <div class="form-group col-md-12">
                                              <label><strong>Old password</strong><small>*</small></label>

                                                {{form.old_password}}

                                                {% if error %}
                                                    <li style="color: red;">{{ error }}</li>
                                                {% endif %}

                                            </div>

                                          </div>
                                         <div class="form-row col-xs-12 col-md-12">
                                            <div class="form-group col-md-12">
                                              <label><strong>New password </strong><small>*</small></label>

                                                {{form.new_password}}

                                                {% for error in form.non_field_errors %}
                                                 <li style="color: red;">{{error}}</li>
                                                {% endfor %}
                                            </div>

                                          </div>
                                           <div class="form-row col-xs-12 col-md-12">
                                            <div class="form-group col-md-12">
                                              <label > <strong>Confirm new password</strong><small>*</small></label>

                                                {{form.confirm_new_password}}
                                                    <h6 style="color: red;">{{form.confirm_new_password.errors}}</h6>
                                            </div>

                                          </div>


                                          <div class="form-group text-center">
                                              <button id="button" type="submit" class="btn btn-outline-light btn-group-lg mt-20 pt-10 pb-10" data-loading-text="Please wait...">Change</button>
                                          </div>

    </form>
    </div>
    </div>
    </div>
    </div>

{% endblock %}