{% extends 'base.html' %}
{% block register %}active{% endblock %}
{% block registertitle %}Registration{% endblock %}
{% block content %}


     <section class="gry-bg py-4">
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="card shadow-lg register-box" style="border-color: #eb8842">
                        <div class="text-center px-35 pt-5" style="color: #dddddd">
                            <h3 class="heading heading-4 strong-500 ">
                                CREATE AN ACCOUNT
                            </h3>
                        </div>
                        {% if error or request.GET.err %}
                            <li style="color: red;">{{ error }}</li>
                        {% endif %}
                        <div class="px-5 py-3 py-lg-5">
                            <div class="row align-items-center">
                                <div class="col-12 col-lg-12">
                                    <form class="form-default" role="form" method="POST">
                                    	{% csrf_token %}
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label>Partner Full Name</label>
                                                    <div class="input-group input-group--style-1">
                                                    	{{form.partner_full_name}}
                                                        <span class="input-group-addon">
                                                            <i class="text-md la la-user"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <div class="input-group input-group--style-1">
                                                    {{form.email}}
                                                        <span class="input-group-addon">
                                                            <i class="text-md la la-envelope"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label>Partner Company</label>
                                                    <div class="input-group input-group--style-1">
                                                    	{{form.partner_company}}
                                                        <span class="input-group-addon">
                                                            <i class="text-md la la-lock"></i>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label>Contact Number</label>
                                                    <div class="input-group input-group--style-1">
                                                    	{{form.contact}}
                                                        <span class="input-group-addon">
                                                            <i class="text-md la la-lock"></i>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label>Alt Contact Number</label>
                                                    <div class="input-group input-group--style-1">
                                                    	{{form.alt_contact}}
                                                        <span class="input-group-addon">
                                                            <i class="text-md la la-user"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <div class="input-group input-group--style-1">
                                                    	{{form.address}}
                                                        <span class="input-group-addon">
                                                            <i class="text-md la la-user"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    <div class="input-group input-group--style-1">
                                                    	{{form.password}}
                                                        <span class="input-group-addon">
                                                            <i class="text-md la la-phone"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label>Confirm Password</label>
                                                    <div class="input-group input-group--style-1">
                                                    	{{form.confirm_password}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="g-recaptcha" data-sitekey="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row align-items-center">
                                            <div class="col-12 text-right  mt-3">
                                                <button type="submit" class="btn btn-styled btn-base-1 w-100 btn-md">Create Account</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- <div class="col-lg-1 text-center align-self-stretch">
                                    <div class="border-right h-100 mx-auto" style="width:1px;"></div>
                                </div> -->
                            </div>
                        </div>
                        <div class="text-center px-35 pb-3">
                            <p class="text-md" style="color: aliceblue">
                                Already have an account?&nbsp;<a href="{% url 'shipmentapp:login' %}" class="strong-600">Log In</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <style>
    .register-box {
    margin-top: 75px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
    .form-group{
        color: #dddddd;
    }
    </style>
{% endblock %}