{% extends 'dashboardbase.html' %}
{% block requestshipment %}active{% endblock %}

{% block content %}
    <style>


                /* Chrome, Safari, Edge, Opera */
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                /* Firefox */
                input[type=number] {
                  -moz-appearance: textfield;
                }
    </style>


    <div class="card bg-secondary">
    <div class="card-body ">
<div class="container">


<div class="shadow-lg p-3 mb-5 mt-5 bg-info rounded col-md-8 offset-md-2  ">
<div class="panel panel-default card-view">
<form method="post" >
  {% csrf_token %}
    <h3 class="heading heading-4 strong-500 text-center mb-5 ">
     Request Shipment
    </h3>
  <div class="form-row ">
    <div class="form-group col-md-6">
      <label><strong>Receiver name</strong><small>*</small></label>

        {{form.receiver_name}}
    </div>
    <div class="form-group col-md-6">
      <label><strong>Receiver contact</strong><small>*</small></label>
        {{form.receiver_contact}}
        {% for error in form.non_field_errors %}
                                <li class="text-danger">{{error}}</li>
         {% endfor %}

    </div>
  </div>
                  <div class="form-row">
                  <div class="form-group col-md-6">
                    <label><strong>Receiver alt contact</strong></label>

                      {{form.receiver_alt_contact}}
                  </div>
                  <div class="form-group col-md-6">
                    <label><strong>Receiver email</strong><small>*</small></label>
                <!--    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">-->
                  {{form.receiver_email}}
                  </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label><strong>Dropoff street address</strong><small>*</small></label>
                      {{ form.dropoff_street_address}}
                    </div>
                    <div class="form-group col-md-6">
                      <label><strong>Droff off City</strong></label>
                      {{form.dropoff_city}}
                    </div>

                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label><strong>Parcel type</strong></label>
                      {{ form.parcel_type}}
                    </div>
                    <div class="form-group col-md-6">
                      <label><strong>Parcel Weight</strong><small>*</small></label>
                      {{form.parcel_weight}}
                    </div>


                  </div>
                  <div class="form-row">

                    <div class="form-group col-md-3">
                      <label><strong>Parcel Length</strong><small>*</small></label>
                      {{ form.parcel_length}}
                    </div>
                    <div class="form-group col-md-3">
                      <label><strong>Parcel Height</strong><small>*</small></label>
                      {{form.parcel_height}}
                    </div>
                    <div class="form-group col-md-3">
                      <label><strong>Parcel Width</strong><small>*</small></label>
                      {{form.parcel_width}}
                    </div>
                    <div class="form-group col-md-3">
                      <label><strong>Total amount</strong><small>*</small></label>
                      {{ form.parcel_total}}
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                      <label><strong>Customer payment status</strong></label>
                      {{ form.customer_payment_status}}
                    </div>
                    </div>
                  <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4">
                      <label><strong>Mode of payment</strong></label>
                      {{ form.mode_of_payment}}
                    </div>

                  </div>

                    <div class="form-group text-center">
                        <button id="button" type="submit" class="btn btn-group-lg mt-20 pt-10 pb-10" data-loading-text="Please wait...">Request</button>
                     </div>
</form>


</div>

</div>
</div>
</div>
    </div>







{% endblock %}