{% extends 'dashboardbase.html' %}
{% load static %}
{% block css %}
<style>
    .activity_set{
        background: #1A2226;
        border: 2px solid black;
    }
</style>

{% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.0/JsBarcode.all.min.js"></script>

<div class="container">
<div class="activity">
    <h2 class="text-center mt-4 mb-4">Shipment "{{shipment.shipment_code}}" Details
        <svg id="barcode">
    </svg>
    </h2>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item ">Requested Date : {{ shipment.created_at}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item list-group-item-warning">Pick Up Time : {{ shipment.pickup_time|default_if_none:"Not Available"}}</li>
            </ul>
            <ul class="list-group">
                 <li class="list-group-item ">Drop Off Time : {{ shipment.dropoff_time|default_if_none:"Not Available"}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item list-group-item-warning">Sender Name : {{ shipment.sender_name|default_if_none:"Not Available"}}</li>
            </ul>
            <ul class="list-group">
                 <li class="list-group-item ">Sender Email: {{ shipment.sender_email|default_if_none:"Not Available"}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item list-group-item-warning">Pick Up City: {{ shipment.pickup_city|default_if_none:"Not Available"}}</li>
            </ul>
             <ul class="list-group">
              <li class="list-group-item ">Pick Up City: {{ shipment.pickup_street_address|default_if_none:"Not Available"}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item list-group-item-warning">Receiver Name: {{ shipment.receiver_name|default_if_none:"Not Available"}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item ">Receiver Email: {{ shipment.receiver_email|default_if_none:"Not Available"}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item list-group-item-warning">Receiver contact : {{ shipment.receiver_contact|default_if_none:"Not Available"}}</li>
            </ul>

        </div>
        <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item ">Receiver alt contact : {{ shipment.receiver_alt_contact|default_if_none:"Not Available"}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item list-group-item-warning">Drop Off City : {{ shipment.dropoff_city|default_if_none:"Not Available"}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item ">Drop Off Street Address: {{ shipment.dropoff_street_address|default_if_none:"Not Available"}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item list-group-item-warning">Parcel Type : {{ shipment.parcel_type|default_if_none:"Not Available"}}</li>
            </ul>

            <ul class="list-group">
              <li class="list-group-item ">Parcel Volume : {{ shipment.volume|default_if_none:"Not Available"}}cc</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item list-group-item-warning">Parcel Weight : {{ shipment.parcel_weight|default_if_none:"Not Available"}}gm</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item ">Parcel Amount : {{ shipment.parcel_total|default_if_none:"Not Available"}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item list-group-item-warning">Customer Payment Status : {{ shipment.customer_payment_status|default_if_none:"Not Available"}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item ">Mode of Payment : {{ shipment.mode_of_payment|default_if_none:"Not Available"}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item list-group-item-warning">Shipping Charge : {{ shipment.mode_of_payment|default_if_none:"Not Available"}}</li>
            </ul>

        </div>
    </div>
</div>
</div>
    {% if activity_set %}
<div class="section">
<div class="container mt-4 ">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table">
         <h4 class="text-center">Shipment Activities</h4>
          <tbody>
            {% for activity in activity_set %}
                <tr class="{% if forloop.counter|divisibleby:2 %}table-warning{% endif %}">
                  <th>{{ forloop.counter }}</th>
                  <th>{{ activity.activity }}</th>
                    <th>{{ activity.created_at }}</th>
                </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
    {% endif %}
    <script type="text/javascript">
	    JsBarcode("#barcode", '{{shipment.shipment_code}}', {
	        width:1,
          height: 40,
          displayValue: false
        });
    </script>

{% endblock %}
