{% extends 'dashboardbase.html' %}

{% block content %}


      <style>


                /* Chrome, Safari, Edge, Opera */
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                /* Firefox */
                input[type=number] {
                  -moz-appearance: textfield;
                }
    </style>


    <div class="page-wrapper">
<div class="container">


<div class="shadow-lg p-3 mb-5 mt-5 bg-dark text-white rounded col-md-8 offset-md-2  ">
<div class="panel panel-default card-view">
<form method="post" >
  {% csrf_token %}
    <h3 class="heading heading-4 strong-500 text-center mb-5 ">
     Update Profile
    </h3>
     <div class="form-row ">
    <div class="form-group col-md-6">
      <label><strong>Your Full Name:</strong><small>*</small></label>

        {{form.partner_full_name}}
    </div>
    <div class="form-group col-md-6">
      <label ><strong>Your company</strong><small>*</small></label>
        {{form.partner_company}}

    </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    <label><strong>Your contact no.</strong><small>*</small></label>

      {{form.contact}}
  </div>
  <div class="form-group col-md-6">
    <label><strong>Your alternative contact no.</strong></label>
<!--    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">-->
  {{form.alt_contact}}
  </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label><strong>Address</strong><small>*</small></label>
      {{ form.address}}
    </div>
    <div class="form-group col-md-6">
      <label><strong>Website</strong></label>
      {{form.website}}
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label><strong>Description:</strong></label>
      {{ form.description}}
    </div>

  </div>


  <div class="form-group text-center">
      <button id="button" type="submit" class="btn btn-outline-light  btn-group-lg mt-20 pt-10 pb-10" data-loading-text="Please wait...">Update</button>
  </div>

</form>


    </div>

</div>
</div>
    </div>



{% endblock %}